.btn-primary-new {
    background: #1F4D36;
    border: 1px solid #1F4D36;
    border-radius: 8px;
    width: 140px;
    height: 50px;
    color: white;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 0 2px 10px rgba(126, 126, 126, 0.5);
}

.btn-primary-new:hover {
    box-shadow: 1px 6px 15px rgba(37, 37, 37, 0.5);
}

.btn-secondary {
    width: 140px;
    height: 50px;
    background: none;
    border: 1px solid white;
}

.btn-secondary:hover {
    border-radius: 4px;
    width: 140px;
    height: 50px;
    color: white;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    /* border: 1px solid #1F4D36; */
    background: white;
    color: black;
}

.btn-secondary-no-hover {
    width: 140px;
    height: 50px;
    background: none;
    border: 1px solid white;
}

.break-nav {
    margin-top: 220px;
    margin-bottom: 100px;
}

.card-product {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 4px 4px 50px rgba(145, 145, 145, 0.2);
    border-radius: 10px;
}

.card-product img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

.card-product-desc {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.btn-keranjang {
    border: 1px solid #01A64C;
    border-radius: 4px;
    color: #fff;
    width: 100%;
    background: #01A64C;
    height: 40px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn-keranjang:hover {
    background: #01A64C;
    color: white;
}

input:focus {
    outline: none !important;
}

.i-search {
    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    box-shadow: 4px 4px 50px rgba(145, 145, 145, 0.2);
    border-radius: 4px;
    padding-left: 20px;
    height: 50px;
    width: 60%;
}

.active {
    font-weight: bold !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.dropdown-menu {
    margin-top: 200px;
}